<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StoryTok</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    

    </head>
  <body>
    <div class="header">
        <h1 class="logo">StoryTok</h1>
        <ul class="header-list">
            <li>About</li>
            <li>Sign Up</li>
        </ul>
    </div>
    <div class="story">

    </div>
    <div class="circles">

    </div>
  </body>
<footer>    <script src="{{url_for('static', filename='script.js')}}"></script>
</footer>
</html>